node_modules
/config/production.json
/config/default.json

.DS_Store

todo.md

.env
.vercel

/client/src/components/FormSlide/FormSlideCopy.js
/client/src/components/FormSlide/ListItemCopy.js
/client/src/components/FormSlide/ListItemInputCopy.js