.invoice-container {
    width: 50%;
    margin-top: toRem(64);
    margin-bottom: toRem(54);

    @include respond(tab-land) {
        width: 55%;
    }

    @include respond(tab-port) {
        margin-top: toRem(112);
        width: 100%;
        padding: 0 5.3%;
    }

}