//FONT
$font-medium: 500;
$font-bold: 700;


// COLORS
$color-medium-slate-blue: #7C5DFA;
$color-medium-purple: #9277FF;
$color-space-cadet-2: #252945;
$color-lavender-web: #DFE3FA;
$color-cool-grey: #888EB0;
$color-glaucous: #7E88C3;
$color-paid: #33D69F;
$color-draft: #373B53;
$color-red-salsa: #EC5757;
$color-dark-orange: #FF8F00;
$color-light-coral: #FF9797;
$color-cultered: #F8F8FB;

//DARK MODE COLORS
$color-space-cadet-1: #1E2139;
$color-rich-black-fogra: #0C0E16;
$color-xiketic: #141625;